.actor-details {
  display: flex;
  margin: 40px auto 100px;
  max-width: 1200px;
  background-color: #f5f5f588;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-shadow: 0 0 15px #024e9a;
}

.actor-details-profile {
  width: 400px;
  height: 600px;
  object-fit: cover;
  box-shadow: 0 0 8px #0099ff;
  border-radius: 4px;
  aspect-ratio: 2/3;
  background: linear-gradient(
    0deg,
    rgba(150, 246, 255, 0.5),
    rgba(231, 88, 207, 0.5)
  );

  float: left;
}

.actor-details-info {
  margin-left: 40px;
}

.actor-details-name {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.actor-details-character {
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 40px;
}

.actor-details-info p {
  font-size: 24px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
  .actor-details {
    margin: 20px auto 80px;
  }

  .actor-details-profile {
    width: 300px;
    height: 450px;
  }
}

@media screen and (max-width: 768px) {
  .actor-details {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .actor-details-profile {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .actor-details-info {
    margin-left: 0;
    text-align: center;
  }

  .actor-details-name {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .actor-details-character {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;
  }

  .actor-details-info p {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
