.header {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.302) 0%,
    rgba(40, 158, 203, 0.7679446778711485) 40%,
    rgba(183, 101, 255, 0.605) 100%
  );
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.nav-item a:hover {
  transform: scale(1.2);
}
