.actor-list-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto 61px;
  background-color: #ffffff4d;
  min-height: 100vh;
  max-width: 900px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.actor-list-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.actor-list-title {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.actor-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.error-message {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  text-shadow: 0 0 15px #024e9a;
}

@media (max-width: 768px) {
  .actor-list-container {
    max-width: 100%;
    padding: 10px;
  }
  .actor-list-title {
    font-size: 1.5rem;
  }

  .actor-list-search {
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
  }
}
